<script>
	import { onMount } from 'svelte';
	export let appWebsite, limit = 5, dislike = 0, outlined = 0, pageId;

	onMount(() => {
		const widgetId = document.getElementById('comments-app');
		let script = document.createElement('script');
	    script.setAttribute('src', 'https://comments.app/js/widget.js?2');
	    script.async = true;
	    script.dataset.commentsAppWebsite = appWebsite;
	    script.dataset.limit = limit;
	    script.dataset.dislike = dislike;
	    script.dataset.outlined = outlined;

	    if (pageId) {
		    script.dataset.pageId = pageId;
		 }

	    widgetId.appendChild(script);
	    console.log(widgetId);
	});
</script>

<div id="comments-app"></div>
